# A1-turbine.txt

### Read data

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the data
df = pd.read_csv('A1-turbine.txt' , sep='\t')

# Print the first 5 rows
df.head()

,height_over_sea_level,fall,net_fall,flow,power_of_hydroelectrical_turbine
0,624.0,89.16,89.765,3.5,2512.85
1,628.0,93.16,93.765,3.5,2583.79
2,602.0,67.84,66.415,6.5,3748.77
3,599.0,64.84,63.415,6.5,3520.65
4,630.0,94.69,93.540,8.0,6673.84

### Normalize data

In [14]:
# Normalize the data to 0 - 1 of the first 4 columns
for column in df.columns[0:4]:
    df[column] = df[column] / df[column].max()

# Scale the power_of_hydroelectrical_turbine column to 0.1 - 0.9
df['power_of_hydroelectrical_turbine'] = df['power_of_hydroelectrical_turbine'] / df['power_of_hydroelectrical_turbine'].max() * 0.8 + 0.1

# Print the first 5 rows
df.head()

,height_over_sea_level,fall,net_fall,flow,power_of_hydroelectrical_turbine
0,0.990476,0.926723,0.935686,0.388889,0.376846
1,0.996825,0.968299,0.977381,0.388889,0.384661
2,0.955556,0.705124,0.692292,0.722222,0.513010
3,0.950794,0.673942,0.661020,0.722222,0.487877
4,1.000000,0.984201,0.975035,0.888889,0.835271

In [15]:
# Output the data to a CSV file
df.to_csv('A1-turbine-normalized.csv', index=False)