# A1-synthetic.txt

### Read data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the data
df = pd.read_csv('A1-synthetic.txt' , sep='\t')
df_og = df.copy()
# Print the first 5 rows
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,37.344110,10.542156,0.969185,3.568534,96.798733,3.429026,75.810196,0,20.002459,11.805369
1,4.089849,11.894301,0.467775,1.279044,100.149383,3.190073,76.423095,0,12.702628,5.125025
2,-32.333439,10.968631,0.238486,1.410745,100.642075,3.093934,78.758727,1,10.723848,3.218553
3,-45.632977,11.509606,0.924938,3.404069,105.963016,2.884269,83.027750,0,19.946593,12.955092
4,-41.543394,10.117186,0.315180,1.020120,97.371423,2.815820,77.194463,0,11.105024,1.919094

### Normalize data

In [6]:
# Normalize the data to 0 - 1 of the first 9 columns
for column in df.columns[0:9]:
    df[column] = df[column] / df[column].max()

# Scale the z column to 0.1 - 0.9
df['z'] = df['z'] / df['z'].max() * 0.8 + 0.1

# Print the first 5 rows
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,0.748535,0.878572,0.969450,0.892184,0.832752,0.952266,0.802206,0.0,0.907802,0.687323
1,0.081978,0.991259,0.467902,0.319779,0.861578,0.885906,0.808691,0.0,0.576503,0.354973
2,-0.648100,0.914114,0.238551,0.352706,0.865816,0.859208,0.833407,1.0,0.486697,0.260125
3,-0.914679,0.959199,0.925191,0.851065,0.911592,0.800983,0.878580,0.0,0.905266,0.744523
4,-0.832707,0.843156,0.315266,0.255044,0.837679,0.781974,0.816854,0.0,0.503996,0.195476

In [7]:
# Output the data to a CSV file
df.to_csv('A1-synthetic-normalized.csv', index=False)

In [8]:
# Unscale data
df['z'] = (df['z'] - 0.1) / 0.8 * df_og['z'].max()

# Unnormalize data
for column in df.columns[0:9]:
    df[column] = df[column] * df_og[column].max()

# Print the first 5 rows
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,37.344110,10.542156,0.969185,3.568534,96.798733,3.429026,75.810196,0.0,20.002459,11.805369
1,4.089849,11.894301,0.467775,1.279044,100.149383,3.190073,76.423095,0.0,12.702628,5.125025
2,-32.333439,10.968631,0.238486,1.410745,100.642075,3.093934,78.758727,1.0,10.723848,3.218553
3,-45.632977,11.509606,0.924938,3.404069,105.963016,2.884269,83.027750,0.0,19.946593,12.955092
4,-41.543394,10.117186,0.315180,1.020120,97.371423,2.815820,77.194463,0.0,11.105024,1.919094